In [30]:
import pandas as pd
from dashboard_validator import LookerEnvironment,Dashboard
import configparser

In [31]:
config = configparser.ConfigParser()
config.read('looker.ini')
config.sections()

['VM', 'Teach', 'Looker']

In [32]:
config['VM']['dev_branch']

'rr_testing_dev_vs_prod'

In [33]:
config_file = "looker.ini"
config.read(config_file)
dev_branch = config['VM']['dev_branch']
project_name = config['VM']['project']


# Instantiate the dev and prod sdks
prod = LookerEnvironment('production',config_instance='VM')

In [41]:
dashboard = Dashboard('2') # Enter the dashboard number you'd like to test here

print("\033[95mTesting Production:\033[00m")
prod_tiles = dashboard.get_all_tiles_data(prod.sdk)

Testing Production:
Skipping: TextBox or Button/Link
Skipping: TextBox or Button/Link
Skipping: Markdown File
Skipping: TextBox or Button/Link
Skipping: Tile:Merged Query

In [44]:
prod_tiles[2]

,cascadeagg.int_formatted_as_id,cascadeagg.int_formatted_as_decimal_0,cascadeagg.test_string
0,1234567890,1234567890,Test
1,2222222222,2222222222,Test

In [46]:
tiles_in_dashboard = dashboard.get_all_dashboard_elements(prod.sdk)

In [47]:
index = 0
for tile in tiles_in_dashboard:
    if dashboard.map_tile_metadata_to_type(tile) == 'Tile':
        print(index)
        print(tile.query.filters)
    index +=1

4
{'extended_jhu_templted_filter.date_filter': '2 years ago for 2 years'}
6
{'extended_jhu_templted_filter.date_filter': '2 years ago for 2 years'}
7
None

In [48]:
tiles_in_dashboard[7].__dict__

{'can': {'create': True,
  'update': True,
  'destroy': True,
  'see_aggregate_table_lookml': True,
  'index': True,
  'show': True,
  'explore': True,
  'run': False,
  'show_errors': True,
  'find_and_replace': True},
 'body_text': None,
 'body_text_as_html': None,
 'dashboard_id': '2',
 'edit_uri': None,
 'id': '17',
 'look': None,
 'look_id': None,
 'lookml_link_id': '',
 'merge_result_id': None,
 'note_display': None,
 'note_state': None,
 'note_text': None,
 'note_text_as_html': None,
 'query': Query(model='one_off_testing', view='cascadeagg', can={'run': True, 'see_results': True, 'explore': True, 'create': True, 'show': True, 'cost_estimate': True, 'index': True, 'see_lookml': True, 'see_aggregate_table_lookml': True, 'see_derived_table_lookml': True, 'see_sql': True, 'save': True, 'generate_drill_links': True, 'download': True, 'download_unlimited': True, 'use_custom_fields': True, 'edit_custom_fields': True, 'edit_table_calculations': True, 'schedule': True}, id='928', fields=['cascadeagg.int_formatted_as_id', 'cascadeagg.int_formatted_as_decimal_0', 'cascadeagg.test_string'], pivots=None, fill_fields=None, filters=None, filter_expression=None, sorts=['cascadeagg.int_formatted_as_id'], limit='500', column_limit=None, total=None, row_total=None, subtotals=None, vis_config={'show_view_names': False, 'show_row_numbers': True, 'truncate_column_names': False, 'hide_totals': False, 'hide_row_totals': False, 'table_theme': 'editable', 'limit_displayed_rows': False, 'enable_conditional_formatting': False, 'conditional_formatting_include_totals': False, 'conditional_formatting_include_nulls': False, 'type': 'table', 'defaults_version': 1}, filter_config={}, visible_ui_sections=None, slug='j7jxy3r', dynamic_fields=None, client_id='smEBVO9NMmywEeEeOhVZqx', share_url='https://34.72.164.128:9999/x/smEBVO9NMmywEeEeOhVZqx', expanded_share_url='https://34.72.164.128:9999/explore/one_off_testing/cascadeagg?fields=cascadeagg.int_formatted_as_id,cascadeagg.int_formatted_as_decimal_0,cascadeagg.test_string&sorts=cascadeagg.int_formatted_as_id&limit=500&vis=%7B%22show_view_names%22%3Afalse%2C%22show_row_numbers%22%3Atrue%2C%22truncate_column_names%22%3Afalse%2C%22hide_totals%22%3Afalse%2C%22hide_row_totals%22%3Afalse%2C%22table_theme%22%3A%22editable%22%2C%22limit_displayed_rows%22%3Afalse%2C%22enable_conditional_formatting%22%3Afalse%2C%22conditional_formatting_include_totals%22%3Afalse%2C%22conditional_formatting_include_nulls%22%3Afalse%2C%22type%22%3A%22table%22%2C%22defaults_version%22%3A1%7D&filter_config=%7B%7D&origin=share-expanded', url='/explore/one_off_testing/cascadeagg?fields=cascadeagg.int_formatted_as_id,cascadeagg.int_formatted_as_decimal_0,cascadeagg.test_string&sorts=cascadeagg.int_formatted_as_id&limit=500&vis=%7B%22show_view_names%22%3Afalse%2C%22show_row_numbers%22%3Atrue%2C%22truncate_column_names%22%3Afalse%2C%22hide_totals%22%3Afalse%2C%22hide_row_totals%22%3Afalse%2C%22table_theme%22%3A%22editable%22%2C%22limit_displayed_rows%22%3Afalse%2C%22enable_conditional_formatting%22%3Afalse%2C%22conditional_formatting_include_totals%22%3Afalse%2C%22conditional_formatting_include_nulls%22%3Afalse%2C%22type%22%3A%22table%22%2C%22defaults_version%22%3A1%7D&filter_config=%7B%7D', query_timezone=None, has_table_calculations=False),
 'query_id': '928',
 'refresh_interval': None,
 'refresh_interval_to_i': None,
 'result_maker': ResultMakerWithIdVisConfigAndDynamicFields(id='475', dynamic_fields=None, filterables=[ResultMakerFilterables(model='one_off_testing', view='cascadeagg', name='', listen=[ResultMakerFilterablesListen(dashboard_filter_name='Int Formatted As ID', field='cascadeagg.int_formatted_as_id')])], sorts=['cascadeagg.int_formatted_as_id'], merge_result_id=None, total=False, query_id='928', sql_query_id='', query=Query(model='one_off_testing', view='cascadeagg', can={'run': True, 'see_results': True, 'explore': True, 'create': True, 'show': True, 'cost_estimate': True, 'index': True, 'see_lookml': True, 'see_aggregate_table_lookml': True, 'see_derived_table_lookml': True, 'see_sql': True, 'save': True, 'generate_drill_links': True, 'download': True, 'download_unlimited': True, 'use_custom_fields': True, 'edit_custom_fields': True, 'edit_table_calculations': True, 'schedule': True}, id='928', fields=['cascadeagg.int_formatted_as_id', 'cascadeagg.int_formatted_as_decimal_0', 'cascadeagg.test_string'], pivots=None, fill_fields=None, filters=None, filter_expression=None, sorts=['cascadeagg.int_formatted_as_id'], limit='500', column_limit=None, total=None, row_total=None, subtotals=None, vis_config={'show_view_names': False, 'show_row_numbers': True, 'truncate_column_names': False, 'hide_totals': False, 'hide_row_totals': False, 'table_theme': 'editable', 'limit_displayed_rows': False, 'enable_conditional_formatting': False, 'conditional_formatting_include_totals': False, 'conditional_formatting_include_nulls': False, 'type': 'table', 'defaults_version': 1}, filter_config={}, visible_ui_sections=None, slug='j7jxy3r', dynamic_fields=None, client_id='smEBVO9NMmywEeEeOhVZqx', share_url='https://34.72.164.128:9999/x/smEBVO9NMmywEeEeOhVZqx', expanded_share_url='https://34.72.164.128:9999/explore/one_off_testing/cascadeagg?fields=cascadeagg.int_formatted_as_id,cascadeagg.int_formatted_as_decimal_0,cascadeagg.test_string&sorts=cascadeagg.int_formatted_as_id&limit=500&vis=%7B%22show_view_names%22%3Afalse%2C%22show_row_numbers%22%3Atrue%2C%22truncate_column_names%22%3Afalse%2C%22hide_totals%22%3Afalse%2C%22hide_row_totals%22%3Afalse%2C%22table_theme%22%3A%22editable%22%2C%22limit_displayed_rows%22%3Afalse%2C%22enable_conditional_formatting%22%3Afalse%2C%22conditional_formatting_include_totals%22%3Afalse%2C%22conditional_formatting_include_nulls%22%3Afalse%2C%22type%22%3A%22table%22%2C%22defaults_version%22%3A1%7D&filter_config=%7B%7D&origin=share-expanded', url='/explore/one_off_testing/cascadeagg?fields=cascadeagg.int_formatted_as_id,cascadeagg.int_formatted_as_decimal_0,cascadeagg.test_string&sorts=cascadeagg.int_formatted_as_id&limit=500&vis=%7B%22show_view_names%22%3Afalse%2C%22show_row_numbers%22%3Atrue%2C%22truncate_column_names%22%3Afalse%2C%22hide_totals%22%3Afalse%2C%22hide_row_totals%22%3Afalse%2C%22table_theme%22%3A%22editable%22%2C%22limit_displayed_rows%22%3Afalse%2C%22enable_conditional_formatting%22%3Afalse%2C%22conditional_formatting_include_totals%22%3Afalse%2C%22conditional_formatting_include_nulls%22%3Afalse%2C%22type%22%3A%22table%22%2C%22defaults_version%22%3A1%7D&filter_config=%7B%7D', query_timezone=None, has_table_calculations=False), vis_config={'show_view_names': False, 'show_row_numbers': True, 'truncate_column_names': False, 'hide_totals': False, 'hide_row_totals': False, 'table_theme': 'editable', 'limit_displayed_rows': False, 'enable_conditional_formatting': False, 'conditional_formatting_include_totals': False, 'conditional_formatting_include_nulls': False, 'type': 'table', 'defaults_version': 1}),
 'result_maker_id': '475',
 'subtitle_text': None,
 'title': 'New Tile',
 'title_hidden': False,
 'title_text': None,
 'type': 'vis',
 'alert_count': 0,
 'rich_content_json': None,
 'title_text_as_html': None,
 'subtitle_text_as_html': None,
 'extension_id': None}

In [49]:
tiles_in_dashboard[7].query_id

'928'

In [51]:
pd.read_json(prod.sdk.run_query(query_id=tiles_in_dashboard[7].query_id, result_format="json"))

,cascadeagg.int_formatted_as_id,cascadeagg.int_formatted_as_decimal_0,cascadeagg.test_string
0,1234567890,1234567890,Test
1,2222222222,2222222222,Test